

/* Media query for mobile screen size */
@media (max-width: 580px) {
  nav {
    gap: 3rem;
  }

  .nav-links {
    display: none;
  }

  .navbar-btn {
    display: none;
  }

  .navbar-hamburger {
    display: block;
    cursor: pointer
  }

  .mobile-nav-dropdown {
    width: 100%;
    padding: 20px 50px;
    background-color: #262626;
  }

  .mobile-nav-dropdown li a {
    color: #FBF8F3;
  }

  header {
    padding: 12rem 6rem;
  }

  .headings {
    flex-direction: column;
  }

  .headings-divider {
    display: none;
  }

  .h1-hb {
    padding-left: 5rem;
  }

  .definitions {
    max-width: 64rem;
  }

  #latest-spots, #cities {
    padding: 30px 6rem;
  }

  .ls-card {
    max-width: unset;
  }

  .city-img {
    height: 150px;
    width: 100px;
    object-fit: contain;
  }

  footer {
    margin-top: 100px;
    flex-direction: column-reverse;
    padding-right: 0;
  }

  .fl-small {
    width: auto;
  }
  
  .fl-large {
    width: auto;
  }

  .footer-logo {
    width: 100%;
    height: 250px;
    max-width: unset;
  }

  .footer-logo img {
    max-width: 300px;
  }

  .footer-links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 50px;
    padding: 80px 50px;
    justify-content: space-evenly;
  }


  #spots-header {
    padding: 12rem 5rem 5rem 5rem;
  }

  #cities {
    padding: 30px 5rem;
  }

  #all-spots {
    padding: 30px 5rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .as-spot-card {
    flex-direction: column;
    height: unset;
  }

  .assc-cover-img {
    max-width: unset;
    max-height: 200px;
  }

  .assc-content {
    padding: 30px 20px;
  }

  .lsci-address {
    margin-bottom: 12px;
  }

  .lsci-address, .lsci-address p {
    font-size: 14px;
  }

  .assc-features li {
    font-size: 16px;
  }
}

/* Media query for really small mobile screen size */
@media (max-width: 380px) {

  * {
    font-size: 7px;
  }

  .btn-row {
    flex-direction: column;
  }
}