* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background-color: #FBF8F3;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2.4rem;
  /* padding: 8px 24px; */
  gap: 10px;
  background: #262626;
  border-radius: 90px;
  border: none;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}

/* Navbar */

menu {
  max-width: 1440px;
  padding: 20px 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 18rem;
}

nav {
  gap: 5rem;
}

nav li {
  list-style: none;
}

nav li a {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 2.9rem;
  text-transform: capitalize;
  color: #262626;
  text-decoration: none;
}

/* Multi Device Optimisation */

/* Media query for Medium screen size */
@media (max-width: 1200px) {
  * {
    font-size: 9px;
  }

}

/* Media query for Small Desktop screen size */
@media (max-width: 1000px) {
  * {
    font-size: 8px;
  }

}

/* Media query for iPad screen size */
@media (max-width: 800px) {
  * {
    font-size: 6px;
  }

}

/* Media query for mobile screen size */
@media (max-width: 580px) {
  nav {
    gap: 3rem;
  }
}