* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background-color: #FBF8F3;
}

/* Global Styles */

h1 {
  font-family: 'Funnel Display', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7.5rem;
  color: #000000;
}

h2 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3rem;
}

p {
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2.4rem;
  gap: 10px;
  background: #262626;
  border-radius: 90px;
  border: none;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}

.secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.8rem 2.4rem;
  border: 2px solid #262626;
  background: #fbf8f300;
  border-radius: 90px;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #262626;
}

/* Navbar */

menu {
  max-width: 1440px;
  padding: 20px 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 18rem;
}

nav {
  gap: 5rem;
}

nav li {
  list-style: none;
}

nav li a {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 2.9rem;
  text-transform: capitalize;
  color: #262626;
  text-decoration: none;
}

/* Header */
.header-container {
  /* background: url(./assets/coffee-full.svg); */
  background: url(./assets/coffee-graphic.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 56rem;

}

header {
  max-width: 1440px;
  width: 100%;
  padding: 80px 12rem;
  gap: 6rem;
}

.title {
  gap: 15px;
}

.headings {
  gap: 2rem;
}

.h1-hb {
  font-family: 'Anka CLM';
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.9rem;
  color: #000000;
}

.subtitle {
  gap: 16px;
  align-items: center;
}

hr {
  height: 2px;
  width: 130px;
  background-color: black;
  border: none;
}

.definitions {
  gap: 3.6rem;
  max-width: 96rem;
}

.definitions div {
  gap: 1.4rem;
}

.def-title-num {
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000000;
}

.def-title {
  font-family: 'Ubuntu Sans';
  font-style: italic;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.def-body {
  margin-left: 2.4rem;
}

.btn-row {
  gap: 3rem;
}

/* -------------------------- */
/* Multi Device Optimisation */
/* -------------------------- */

/* Media query for Medium screen size */
@media (max-width: 1200px) {
  * {
    font-size: 9px;
  }

  .definitions {
    max-width: 82rem;
  }
}

/* Media query for Small Desktop screen size */
@media (max-width: 1000px) {
  * {
    font-size: 8px;
  }

  .definitions {
    max-width: 80rem;
  }

}

/* Media query for iPad screen size */
@media (max-width: 800px) {
  * {
    font-size: 6px;
  }

  .definitions {
    max-width: 90rem;
  }

}

@media (max-width: 700px) {
  * {
    font-size: 6px;
  }

  .definitions {
    max-width: 65rem;
  }
  

}

/* Media query for mobile screen size */
@media (max-width: 580px) {
  nav {
    gap: 3rem;
  }


  .definitions {
    max-width: 64rem;
  }
}