* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background-color: #FBF8F3;
}

/* Global Styles */

h1 {
  font-family: 'Funnel Display', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7.5rem;
  color: #000000;
}

h2 {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 6.2rem;
  color: #000000;
}

h3 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.8rem;
  color: #000000;
}

h4 {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.9rem;
  text-transform: capitalize;
  color: #262626;
}

h5 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3rem;
}

h6 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

p {
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2.4rem;
  gap: 10px;
  background: #262626;
  border-radius: 90px;
  border: none;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}

.secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.8rem 2.4rem;
  border: 2px solid #262626;
  background: #fbf8f300;
  border-radius: 90px;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #262626;
}

button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: unset;
}

/* Navbar */

menu {
  max-width: 1440px;
  padding: 20px 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 18rem;
}

nav {
  gap: 5rem;
}

nav li {
  list-style: none;
}

nav li a {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 2.9rem;
  text-transform: capitalize;
  color: #262626;
  text-decoration: none;
}

/* Footer */

.footer-container {
  justify-content: flex-start;
}

footer {
  /* max-width: 1440px; */
  width: 100%;
  margin-top: 180px;
  display: flex;
  padding-right: 60px;
}

.footer-logo {
  max-width: 500px;
  width: 100%;
  height: 322px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262626;
}

.footer-logo img {
  height: 122px;
  width: 380px;
}

.footer-links {
  width: 100%;
  padding: 30px 0 30px 60px;
  border-top: solid 2px #262626;
  gap: 60px;
}

.footer-links-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links-col ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links-col ul li a {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 29px;
  text-transform: capitalize;
  color: #262626;
}

.fl-small {
  width: 200px;
}

.fl-large {
  width: 300px;
}

/* -------------------------- */
/* ----- Home (App.jsx) ----- */
/* -------------------------- */


/* Header */
.header-container {
  /* background: url(./assets/coffee-full.svg); */
  background: url(./assets/coffee-graphic.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 56rem;

}

header {
  max-width: 1440px;
  width: 100%;
  padding: 120px 12rem;
  gap: 6rem;
}

.title {
  gap: 15px;
}

.headings {
  gap: 2rem;
}

.h1-hb {
  font-family: 'Anka CLM';
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.9rem;
  color: #000000;
}

.subtitle {
  gap: 16px;
  align-items: center;
}

hr {
  height: 2px;
  width: 130px;
  background-color: black;
  border: none;
}

.definitions {
  gap: 3.6rem;
  max-width: 96rem;
}

.definitions div {
  gap: 1.4rem;
}

.def-title-num {
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000000;
}

.def-title {
  font-family: 'Ubuntu Sans';
  font-style: italic;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.def-body {
  margin-left: 2.4rem;
}

.btn-row {
  gap: 3rem;
}

/* Latest Spots */

#latest-spots {
  max-width: 1440px !important;
  width: 100% !important;
  padding: 30px 12rem;
  gap: 30px;
}

#ls-carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ls-title {
  align-items: flex-end;
  justify-content: space-between;
}

.ls-card {
  max-width: 380px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #000000;
}

.lsc-cover-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.lsci-address {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 26px;
}

.lsci-address a {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.lsc-info {
  padding: 20px 30px;
}

.lsc-info ul {
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 15px;
}

.lsc-info ul li {
  display: flex;
  flex-direction: row;
  gap: 14px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.lsc-info ul li img {
  width: 30px;
  height: 30px;
}

.ls-carousel-arrows {
  justify-content: flex-end;
  gap: 80px;
  margin-top: 15px;
}

.slider-arrow {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 62px;
  color: #000000;
  cursor: pointer;

  padding: none;
  background: none;
  border: none;
}

/* Cities */

#cities {
  max-width: 1440px;
  width: 100%;
  padding: 40px 12rem;
  gap: 30px;
}

.city-row {
  width: 100%;
  justify-content: space-between;
}

.city-card {
  align-items: end;
}

.city-img {
  width: 165px;
  height: 200px;
}

.cc-city-name {
  text-transform: capitalize;
}

.city-info {
  padding-bottom: 30px;
  gap: 10px;
}

.city-stats {
  gap: 8px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

/* Spots */

#spot-loading {
  width: 100%;
  text-align: center;
  padding: 100px 30px;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #000000;
}

#spot-header {
  padding: 80px 12rem;
}

.spot-cover-img {
  width: 100%;
  height: 437px;
  object-fit: cover;
}

#spot-details {
  max-width: 1440px;
  width: 100%;
  padding: 30px 12rem;
  gap: 42px;
}

.sd-h2 {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.8rem;
  color: #000000;
}

.sd-p {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

#spot-details #about {
  gap: 10px;
}

.sd-subheading {
  gap: 8px;
  align-items: center;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}

.sd-subheading img {
  width: 18px;
  height: 18px;
}

#community-feedback {
  gap: 28px;
  align-items: start;
}

.cf-title {
  gap: 10px;
}

.cf-button-text-light {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #262626;
}

.cf-ratings {
  gap: 20px;
}

.cf-rating {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cfr-icon {
  width: 26px;
  height: 26px;
}

.cfr-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 2px 0;
}

.rating-circle-row {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
}

.rr-circle {
  height: 10px;
  width: 10px;
  border: solid 1px #000000;
  background: #fff;
  border-radius: 50px;
}

.rr-circle-active {
  height: 14px;
  width: 14px;
  border: inset 5px #000000;
}

#comments {
  gap: 30px;
}

.comments-list {
  gap: 42px;
}

.cl-comment {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cl-author-initial {
  width: 40px;
  min-width: 40px;
  max-height: 40px;
  height: 40px;
  background: #262626;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.clc-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px 30px;
  background: #FFFFFF;
  border-bottom: solid 1px #000000;
}

.clc-content p {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.cl-comment-date {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: right;
  color: #000000;
  opacity: 0.65;
}

/* All Spots */

#spots-header {
  padding: 80px 12rem 30px 12rem;
}

.spot-cities {
  padding: 30px 12rem 80px 12rem;
}

#all-spots {
  max-width: 1440px;
  width: 100%;
  padding: 30px 12rem;
  gap: 30px;
}

#as-filter {
  width: 300px;
  max-width: 300px;
  width: 100%;
  height: 500px;
  background: #fff;
}

#as-list {
  width: 100%;
  gap: 30px;
}

.as-filter-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#sd-sort_by {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  background: #262626;
  border-radius: 90px;
  border: none;
  outline: none;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}

.as-spot-card {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-bottom: solid 1px #000000;
  height: 275px;
}

.assc-cover-img {
  width: 325px;
  max-width: 325px;
  width: 100%;
  height: 100%;
}



.assc-content {
  padding: 40px 50px;
  width: 100%;
  gap: 16px;
}

.assc-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 15px;
}

.assc-features li {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  list-style: none;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #000000;
}

/* -------------------------- */
/* Multi Device Optimisation */
/* -------------------------- */

/* Media query for Medium screen size */
@media (max-width: 1200px) {
  * {
    font-size: 9px;
  }

  .definitions {
    max-width: 82rem;
  }
}

/* Media query for Small Desktop screen size */
@media (max-width: 1000px) {
  * {
    font-size: 8px;
  }

  .definitions {
    max-width: 80rem;
  }

}

/* Media query for iPad screen size */
@media (max-width: 800px) {
  * {
    font-size: 6px;
  }

  .definitions {
    max-width: 90rem;
  }

}

@media (max-width: 700px) {
  * {
    font-size: 6px;
  }

  .definitions {
    max-width: 65rem;
  }


}

/* Media query for mobile screen size */
@media (max-width: 580px) {
  nav {
    gap: 3rem;
  }


  .definitions {
    max-width: 64rem;
  }
}